/* This is for each chapter */

.basic {
  background: var(--secondarybg);
  padding: 15px;
  position: relative;
  margin-top: 10px;
  font-size: .9rem;
}
.basic h3{
  font-size: 1.1rem;
  font-weight: 500;
}
.basic ul {
  padding-left: 25px;
  line-height: 1;
  margin-top: 10px;
}
.basic ul li {
  color: black;
  list-style-type: none;
  line-height: 1.2rem;
  padding: 5px 0;
  border-bottom: 1px solid #0000003f;
  width: 90%;
}
.basic a{
  text-decoration: none;
  color: black;
}
.basic video {
  display: block;
}
.tutorial {
  padding-top: 10px;
  width: 100%;
  height: auto;
}
.example {
  background: var(--secondarybg);
  border-left: 3px solid var(--secondary);
  padding: 0px 5px 5px 15px;
  line-height: 1.5;
  margin: 10px 0;
}
.example div {
  padding: 10px 0;
}
.example .text p {
  text-indent: 0px;
  padding: 1px 0;
}
.example .table-container{
  overflow-x: auto;
  white-space: nowrap;
}
.example .call_to_action {
  display: flex;
  justify-content: space-between;
}
.example table,
tr,
td {
  border: 1px solid black;
}
.more-example {
  background: var(--secondarybg);
}
.important {
  background: var(--importantbg);
  padding: 0px 5px 5px 15px;
  border-left: 3px solid var(--important);
  line-height: 1.5;
}
.important p {
  text-indent: 0px;
  padding: 1px 0;
}
.important h2 {
  color: #fd713e;
}
.tip {
  background: var(--primarybg);
  padding: 0px 5px 5px 15px;
  border-left: 3px solid var(--primary);
  line-height: 1.5;
}
.tip h2 {
  color: #fd713e;
}
.tip p {
  text-indent: 0px;
  padding: 1px 0;
}

/* Mobile approach  */
@media (min-width: 460px) {
  .basic video {
    position: absolute;
    top: 19px;
    right: 0px;
  }
}
