/* Style the top navigation bar */
.top-nav-container{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  z-index: 2;
  background: #fff;
}
.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav .brand-name{
  color: #333;
  font-size: 1.1rem;
  font-weight: 600;
  background: linear-gradient(to right,#1f4a23, #992409);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* top-nav links */
.top-nav .nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: .9rem;
  font-weight: 500;
  cursor: pointer;
}
/* sub top nav  */
.sub-top-nav {
  position: fixed;
  top: 36px;
  background-color: #404144;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: .9rem;
  font-weight: 400;
}
.sub-top-nav::-webkit-scrollbar {
  display: none;
}
.sub-top-nav a {
  display: inline-block;
  color: #f1f1f1c4;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
}
#first-item-subnav {
  padding-left: 50px;
}
/* side menu btn icon  */
.menubtn {
  position: fixed;
  left: 0;
  top: 36px;
  cursor: pointer;
  z-index: 3;
  outline: none;
  background-color: #352323;
  padding: 1px 0;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #f1f1f1;
  margin: 4px;
  transition: 0.4s;
  margin-right: 10px;
}

.change .bar1 {
  transform: translate(0, 6px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -6px) rotate(45deg);
}
/* The sidepanel menu */
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 61px;
  left: 0;
  background-color: #404144;
  font-size: .9rem;
  font-weight: 400;
  color: #f1f1f1c4;
  overflow-x: hidden;
  transition: 200ms;
}
.sidepanel .sidepanel-content{
  padding-left: 10px;
}
/* The sidepanel links */
.sidepanel h2 {
  color: #f1f1f1ee;
  margin: 10px 0;
}
.sidepanel a {
  padding: 5px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 1em;
  color: #f1f1f1c4;
  display: block;
  transition: 300ms;
  border-bottom: 1px solid #f1f1f15d;
  width: 90%;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  background-color: #1f4a238f;
  color: #f1f1f1c4;
}

/* Current/active all links */
.active {
  background-color: var(--secondary);
}

/* Login form  */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 5px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: var(--secondary);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover {
  opacity: 1;
}
